* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --gradient3: linear-gradient(10deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  background-color: rgba(248, 191, 191, 0.1);
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  max-width: 1440px;
}

.logo {
  width: 100%;
  height: 11%;
}

.logo__img {
  padding: 1.9rem;
  height: 5.2rem;
}

.header__img {
  width: 100vw;
  background-size: 100vw;
  height: 15.5rem;
  background-image: url("../img/hero-mobile.jpg");
  background-position: center;
  background-size: cover;
}

.header__title {
  padding: 4.69rem;
  padding-top: 4.06rem;
  padding-bottom: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: center;
}

.header__title--pink {
  font-weight: 300;
  color: var(--desaturated-red);
}

.subscribe__container {
  padding: 2.2rem;
  padding-top: 1rem;
}

.subscribe__txt {
  padding-bottom: 2.2rem;
  color: var(--desaturated-red);
  text-align: center;
  font-size: 0.95rem;
  font-weight: 300;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.subscribe__form--container {
  height: 3.13rem;
  border: 1px solid var(--desaturated-red);
  border-left: 1px solid transparent;
  border-radius: 30px;
}

.subscribe__form--input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100%;
  border: 1.5px solid transparent;
  padding-left: 1.3rem;
  color: var(--desaturated-red);
  font-weight: 300;
  background-color: rgba(248, 191, 191, 0.05);
}

.subscribe__form--input:focus {
  outline: none;
}

.subscribe__form--btn {
  height: 3.13rem;
  width: 5.4rem;
  border-radius: 30px;
  border: 1px solid transparent;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 0 15px 40px var(--desaturated-red);
          box-shadow: 0 15px 40px var(--desaturated-red);
}

.attribution {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 768px) {
  .wrapper {
    -ms-grid-columns: 58% 42%;
        grid-template-columns: 58% 42%;
  }
  .logo {
    width: 58%;
    height: 4%;
    -ms-grid-column-align: start;
        justify-self: start;
    z-index: 1;
  }
  .header__left {
    padding: 0 8.13rem;
  }
  .header__bg {
    position: absolute;
    left: 0;
    width: 58%;
    height: 100vh;
    background-image: url("../img/bg-pattern-desktop.svg");
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
  .header__img {
    position: absolute;
    right: 0;
    width: 42%;
    height: 100vh;
    background-image: url(../img/hero-desktop.jpg);
    background-position: center;
  }
}
/*# sourceMappingURL=main.css.map */