* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	//Primary
	--desaturated-red: hsl(0, 36%, 70%);
	--soft-red: hsl(0, 93%, 68%);
	//### Neutral
	--dark-grayish-red: hsl(0, 6%, 24%);
}

body {
	background-color: rgba(248, 191, 191, 0.1);
	font-size: 62.5%;
	font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
	display: grid;
	grid-template-rows: 4;
	justify-content: center;
	align-items: center;
}

.logo {
	grid-row: 1;
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;

	&__img {
		padding: 1.9rem;
		height: 88%;
	}
}

.header {
	&__img {
		grid-row: 2;
		width: 100vw;
		height: 15.5rem;
		background-image: url('../img/hero-mobile.jpg');
		background-position: center;
		background-size: cover;
	}
}

.subscribe {
	grid-row: 3;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding: 4rem 2.2rem 0;

	&__title {
		font-size: 2.5rem;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 10px;
		text-align: center;

		&--pink {
			font-weight: 300;
			color: var(--desaturated-red);
		}
	}

	&__txt {
		padding: 1.5rem 0 2.2rem;
		color: var(--desaturated-red);
		text-align: center;
		font-size: 0.95rem;
		font-weight: 300;
	}
}

.form {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 3.13rem;
	border: 1px solid var(--desaturated-red);
	border-radius: 30px;

	&__input {
		flex-grow: 2;
		padding-left: 1.3rem;
		width: 100%;
		border: 1.5px solid transparent;
		background-color: rgba(248, 191, 191, 0.05);
		color: var(--desaturated-red);
		font-weight: 300;

		&:focus {
			outline: none;
			color: black;
		}
	}
	&__btn {
		height: 3.15rem;
		width: 5.5rem;
		border-radius: 30px;
		border: 1px solid transparent;
		background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
		box-shadow: 0 15px 40px var(--desaturated-red);
		cursor: pointer;

		&:hover {
			background-image: none;
			background-color: hsl(0, 80%, 86%);
		}
	}
	&__error-icon {
		display: none;
		padding-right: 1rem;
	}
}
.activate {
	display: grid;
}

.msg-styles {
	padding: 0.5rem 0 0 1.3rem;
	color: hsl(0, 74%, 74%);
	font-size: 0.8rem;
}

.attribution {
	grid-row: 4;
	justify-self: center;
	padding-top: 1rem;

	&__txt {
		padding: 0;
		font-size: 9px;
	}
	& a {
		color: hsl(228, 45%, 44%);
	}
}
.border-pink {
	border: 2px solid hsl(0, 74%, 74%);
}

@media (min-width: 430px) {
	.header {
		&__img {
			height: 25rem;
		}
	}
}

@media (min-width: 768px) {
	.wrapper {
		grid-template-columns: 60% 40%;
		grid-template-rows: 21% 79%;
		align-items: center;
	}

	.logo {
		display: grid;
		grid-column: 1;
		grid-row: 1;
		align-items: start;
		padding: 0 3rem 0;
		width: 50%;
		height: 45%;
		z-index: 1;

		&__img {
			padding: 0;
			height: 2rem;
		}
	}

	.header {
		&__bg {
			grid-column: 1 / 3;
			grid-row: 1 / -1;
			width: 100%;
			height: 100vh;
			background-image: url('../img/bg-pattern-desktop.svg');
			background-position: center;
			background-size: cover;
			z-index: -1;
		}

		&__img {
			grid-column: 2;
			grid-row: 1 / -1;
			width: 100%;
			height: 100vh;
			background-image: url(../img/hero-desktop.jpg);
		}
	}
	.subscribe {
		display: grid;
		grid-template-rows: 4;
		grid-column: 1;
		grid-row: 2;
		align-self: center;
		align-items: center;
		padding: 0 3rem 0;
		width: 100%;
		height: 80%;

		&__title {
			grid-row: 1;
			font-size: 3rem;
			text-align: start;
			font-weight: 400;
			line-height: 65px;
			letter-spacing: 20px;
		}
		&__txt {
			grid-row: 2;
			padding: 0;
			text-align: start;
			font-size: 1.1rem;
			line-height: 2rem;
		}
	}
	.form {
		grid-row: 3;
		height: 3.5rem;

		&__btn {
			width: 7rem;
			height: 3.5rem;
			border-right: 1px solid var(--desaturated-red);
		}
	}
	.attribution {
		grid-column: 1;
		grid-row: 2;
		align-self: end;
		padding: 1rem 0.5rem;
		text-align: center;
	}
}

@media (min-width: 1248px) {
	.wrapper {
		display: grid;
		grid-template-columns: 12% 32% 15% 41%;
		align-items: center;
	}
	.logo {
		grid-column: 2;
		align-items: start;
		padding-left: 0;
		height: 45%;

		&__img {
			height: 2rem;
		}
	}

	.header {
		&__bg {
			grid-column: 1 / 4;
		}

		&__img {
			grid-column: 4 / -1;
			grid-row: 1 / -1;
			background-image: url(../img/hero-desktop.jpg);
		}
	}

	.subscribe {
		grid-template-rows: 4;
		grid-column: 2;
		grid-row: 2;
		align-self: start;
		align-items: start;
		padding: 0;

		&__title {
			font-size: 4rem;
			font-weight: 600;
			letter-spacing: 20px;
		}
	}
	.form {
		&__error {
			padding-top: 0;
		}
	}

	.attribution {
		grid-column: 2;
	}
}
